html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

:root {
  --shadow1: 0 0 5px 2px #00000033;
  --shadow2: 0 0 10px 40px 8px #0000001a;
  --shadow3: 0 0 1.6rem #0000000f;
  --shadow4: 0 0 1.2rem #d3bfbf0f;

  --shadow99: rgba(0, 0, 0, 0.2) 0px 6px 32px;
  --yellow111: #996e27;
  --shadow-blue1: 0 0 1.2rem rgb(37, 61, 172);

  --shadow_bottom: 0 0.2rem 0.4rem #0000000f;

  --ligh-blue1: rgb(77, 105, 146);
  --ligh-blue3: rgb(37, 61, 172);

  --green: #107c10;
  --green1: #07bc0c;
  --green2: #0fc00f;
  --green3: #34a853;
  --green15: #ccf5da;
  --green16: #007a5c;
  --green11: #03c988;

  --green44: #ff634736;

  --green14: rgba(3, 201, 136, 0.4);

  --green12: #285430;

  --yellow1: #f1c40f;

  --light-bue2: #e8efff;

  --light-blue3: '#F9FAFB';
  --blue5: #11009e;
  --blue6: #4942e4;
  --blue7: #8ab4f8;

  --green8: #dde5fe;
  --yellow8: #feecde;

  --orange3: #e55807;
  --orange: #e65202;
  
  --orange07: #e65202ea;

  // --orange1: #f86f03;
  --orange1: #e65202;

  --orange2: #ff6347;
  --pink1: #ff6969;
  --red: #f93628;
  --red111: #ea99959d;
  --red1111: #ed847f33;
  --error4: #ff4500;

  --gray9999: #686868;

  --gray99999: #b3b0b06c;

  --dark: rgb(2, 30, 52);
  --darkxx: #ccd2d6;
  --dark2: rgb(2, 30, 52, 0.8);
  --dark1: rgba(2, 30, 52, 0.7);
  --dark3: #494c4d;
  --dark5: #576365;
  --dark4: rgb(16, 17, 17, 0.85);

  --ac: #f2f6fc;

  --bluexx: #e3ecfc;

  --bluexxx: #e6ecfe;

  --signer-me: rgb(15, 192, 197);

  --blue4: #f4f6f7;

  --blue1: #253dac;
  --blue2: rgb(6, 20, 87);
  --blue3: #1071b7;

  --error: #dc382c;

  --red1: #e34d4d;

  --white: #ffffff;
  --color-gray1: #c1cbd9;
  --color-gray2: #d0d8e2;
  --border-gray: rgb(234, 237, 242);

  --lightaa: #b3ddf9;

  --gray11: #f0f0f0;

  --dark11: #121212;

  --gray2: #f7f9fc;

  // --gray3: #b4bbbf;
  --gray3: #b4bbbfbc;
  --gray33: #b4bbbfbc;

  --gray999: #bababa;

  --canvas: #f4f4f4;

  --gray4: #c7c7c7;

  --light-gray: #e8e8e8;
  --light-gray-darker: #f7f9fc;

  --gray5: #323639;
  --gray6: #5b5e61;

  --sx1: #dfe6ed;

  --trasnparent: transparent;
  --dt-surface1-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  // overflow: hidden;
}
:root {
  font-size: 62.5%;
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4,
p,
span,
textarea {
  color: var(--dark);
  margin: 0;
  overflow: hidden;
  letter-spacing: 0.25px;
}

textarea::-webkit-scrollbar {
  width: 7px;
  height: 7px;
  :hover {
    cursor: pointer;
  }
}

textarea::-webkit-scrollbar-button {
  display: none;
}

textarea::-webkit-scrollbar-track {
  background-color: transparent;
  :hover {
    cursor: pointer;
  }
}

textarea::-webkit-scrollbar-thumb {
  background: #adacac;
  :hover {
    cursor: pointer;
  }
}

.matched {
  color: var(--orange) !important;
  font-weight: bold;
}

html {
  font-family: sans-serif;
  // -ms-text-size-adjust: 100%;
  // -webkit-text-size-adjust: 100%;

  line-height: 1.15;
  // word-break: break-word;
}

body {
  margin: 0;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 1.4rem;
  line-height: 1.4;
  min-height: 100vh;
}

a,
span {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 1.4rem;
  line-height: 1.4;
}

/* Font Family for Signatures */

.font_dancing_script {
  font-family: 'Dancing Script', cursive;
  input {
    font-family: 'Dancing Script', cursive;
  }
}

.font_satisfy {
  font-family: 'Satisfy', cursive;
  input {
    font-family: 'Satisfy', cursive;
  }
}

.font_plus_jakarta_sans {
  font-family: 'Plus Jakarta Sans', sans-serif;
  input {
    font-family: 'Plus Jakarta Sans', cursive;
  }
}

.font_times_new_roman {
  font-family: 'Tinos', serif;
  input {
    font-family: 'Tinos', serif;
  }
}

.font_ephesis {
  font-family: 'Ephesis', cursive;
  input {
    font-family: 'Ephesis', cursive;
  }
}

.font_charmonman {
  font-family: 'Charmonman', cursive;
  input {
    font-family: 'Charmonman', cursive;
  }
}

.font_sofia {
  font-family: 'Sofia', cursive;
  input {
    font-family: 'Sofia', cursive;
  }
}

.disabled_button {
  cursor: not-allowed;
}

[type='date'],
[type='datetime-local'],
[type='email'],
[type='month'],
[type='number'],
[type='password'],
[type='search'],
[type='tel'],
[type='text'],
[type='time'],
[type='url'],
[type='week'],
select,
input,
textarea {
  transition: border-color 0.5s ease-in-out, box-shadow 0.5s ease-in-out !important;
}

@keyframes krSvVP {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.Toastify__toast {
  border: 2px solid var(--dark);
  min-height: 56px;
  box-shadow: none;
  user-select: none;
  font-size: 1.5rem;
  font-weight: bold;
  white-space: nowrap;
  font-family: 'Plus Jakarta Sans', sans-serif;
}
.Toastify__toast-container--top-center {
  overflow: hidden;
  top: 5px;
  width: fit-content;
}

.react-resizable {
  position: relative;
  border: none !important;
}
.react-resizable-handle {
  position: absolute;
  width: 20px;
  height: 20px;
  bottom: 0;
  right: 0;
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJubyI/Pg08IS0tIEdlbmVyYXRvcjogQWRvYmUgRmlyZXdvcmtzIENTNiwgRXhwb3J0IFNWRyBFeHRlbnNpb24gYnkgQWFyb24gQmVhbGwgKGh0dHA6Ly9maXJld29ya3MuYWJlYWxsLmNvbSkgLiBWZXJzaW9uOiAwLjYuMSAgLS0+DTwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DTxzdmcgaWQ9IlVudGl0bGVkLVBhZ2UlMjAxIiB2aWV3Qm94PSIwIDAgNiA2IiBzdHlsZT0iYmFja2dyb3VuZC1jb2xvcjojZmZmZmZmMDAiIHZlcnNpb249IjEuMSINCXhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHhtbDpzcGFjZT0icHJlc2VydmUiDQl4PSIwcHgiIHk9IjBweCIgd2lkdGg9IjZweCIgaGVpZ2h0PSI2cHgiDT4NCTxnIG9wYWNpdHk9IjAuMzAyIj4NCQk8cGF0aCBkPSJNIDYgNiBMIDAgNiBMIDAgNC4yIEwgNCA0LjIgTCA0LjIgNC4yIEwgNC4yIDAgTCA2IDAgTCA2IDYgTCA2IDYgWiIgZmlsbD0iIzAwMDAwMCIvPg0JPC9nPg08L3N2Zz4=');
  background-position: bottom right;
  padding: 0 3px 3px 0;
  background-repeat: no-repeat;
  background-origin: content-box;
  box-sizing: border-box;
  cursor: se-resize;
}

/* -------------------------------- */

// .react-resizable-handle-sw {
//   bottom: 0;
//   left: 0;
//   cursor: sw-resize;
//   transform: rotate(90deg);
// }
// .react-resizable-handle-se {
//   bottom: 0;
//   right: 0;
//   cursor: se-resize;
// }
// .react-resizable-handle-nw {
//   top: 0;
//   left: 0;
//   cursor: nw-resize;
//   transform: rotate(180deg);
// }
// .react-resizable-handle-ne {
//   top: 0;
//   right: 0;
//   cursor: ne-resize;
//   transform: rotate(270deg);
// }
// .react-resizable-handle-w,
// .react-resizable-handle-e {
//   top: 50%;
//   margin-top: -10px;
//   cursor: ew-resize;
// }
// .react-resizable-handle-w {
//   left: 0;
//   transform: rotate(135deg);
// }
// .react-resizable-handle-e {
//   right: 0;
//   transform: rotate(315deg);
// }
// .react-resizable-handle-n,
// .react-resizable-handle-s {
//   left: 50%;
//   margin-left: -10px;
//   cursor: ns-resize;
// }
// .react-resizable-handle-n {
//   top: 0;
//   transform: rotate(225deg);
// }
// .react-resizable-handle-s {
//   bottom: 0;
//   transform: rotate(45deg);
// }
